{% layout "layout" %}
<div class="container" data-sticky-trigger="top">
  <div align="center" class="page-subheader">
    <h1 class="with-preheader">{{ page.title }}</h1>
    <p>{{ page.content }}</p>
  </div>
  <form id="form">
    <div class="side-by-side responsive">
      <div class="half">
        <label for="subject">{{ 'contact.form.subject' | t }}
        <input type="text"
          id="subject"
          required
          value=""></label>

        <label for="name">{{ 'contact.form.name' | t }}
        <input type="text"
          required
          id="name"></label>

        <label for="email">{{ 'contact.form.email' | t }}
        <input type="email"
          id="email"
          required
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off"></label>
      </div>
      <div class="half">
        <label for="message">{{ 'contact.form.message' | t }}
        <textarea rows="11"
          id="message">
        </textarea></label>
      </div>
    </div>
    <div align="right">
      <div class="g-recaptcha" data-sitekey="{{recaptchaKey}}"></div>
      <button class="btn" type="submit">{{ 'contact.form.send' | t }}</button>
    </div>
  </form>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
    document.querySelector('#form').addEventListener('submit', (e) => {
      e.preventDefault();
      var xmlhttp = new XMLHttpRequest();
      var theUrl = "/pages/contact";
      xmlhttp.open("POST", theUrl);
      xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xmlhttp.send(JSON.stringify({
        "name": document.getElementById('name').value,
        "subject": document.getElementById('subject').value,
        "email": document.getElementById('email').value,
        "message": document.getElementById('message').value,
        "recaptchaResponse": document.getElementById('g-recaptcha-response').value,
      }));
      xmlhttp.onload = function () {
        if(xmlhttp.readyState === 4) {
          const status = xmlhttp.status;
          if (status === 0 || (status >= 200 && status < 400)) {
            const res = JSON.parse(xmlhttp.responseText);
            if (res.error) return alert(res.error);
            alert('Message sent successfully');
            document.location.href = '/';
          }
        }
      }
    });
    
    </script>