{% layout "layout" %}
<div class="container" data-sticky-trigger="top">
  <div align="center" class="page-subheader">
    <h1 class="with-preheader">{{ page.title }}</h1>
    <p>{{ page.content }}</p>
  </div>
  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    {{ form.errors | default_errors }}
    <div class="side-by-side responsive">
      <div class="half">
        <label for="ContactFormSubject">{{ 'contact.form.subject' | t }}
        <input type="text"
          name="contact[subject]"
          id="ContactFormSubject"
          value=""></label>

        <label for="ContactFormName">{{ 'contact.form.name' | t }}
        <input type="text"
          name="contact[name]"
          id="ContactFormName"
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"></label>

        <label for="ContactFormEmail">{{ 'contact.form.email' | t }}
        <input type="email"
          name="contact[email]"
          id="ContactFormEmail"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off"></label>
      </div>
      <div class="half">
        <label for="ContactFormMessage">{{ 'contact.form.message' | t }}
        <textarea rows="11"
          name="contact[body]"
          id="ContactFormMessage">
          {% if form.body %}
            {{ form.body }}
          {% endif %}
        </textarea></label>
      </div>
    </div>
    <div align="right">
      <div class="captcha">
        How much is: <input type="text" readonly="readonly" id="question" style="width: 100px"/>
        Answer:* <input type="text" id="answer" style="width: 100px"/>
	    </div>
      <button class="btn" type="submit">{{ 'contact.form.send' | t }}</button>
    </div>
  {% endform %}
  <script>
  var n1 = Math.round(Math.random() * 10 + 1);
  var n2 = Math.round(Math.random() * 10 + 1);
  document.querySelector('#question').value = n1 + " + " + n2;
  document.querySelector(".contact-form").addEventListener('submit', function (e) {
    if ((n1 + n2) !== Number(document.querySelector("#answer").value)) {
      document.querySelector('#answer').style.boxShadow = '0px 0px 7px red';
      e.preventDefault(); 
    } 
    });
</script>
</div>