{% layout "layout" %}
<div class="container container-md" data-sticky-trigger="top">
    <div align="center" class="page-subheader">
    <h1 class="with-preheader">{{ 'donate.title' | t }}</h1>
    {{ 'donate.description_html' | t }}
    <p><a href="https://www.justgiving.com/efam/donate" target="_blank" class="btn">{{ 'donate.cta' | t }}</a></p>
  </div>
  <img src="{{ 'donate-c.jpg' | asset_url }}" alt="{{ 'donate.image_caption' | t }}" style="width: 100%; margin-bottom: 30px;"/>

</div>