{% layout "layout" %}
<!-- BEGIN HERO -->
  <section class="press-top">
    <div class="hero-center container">
      <div class="main-right noselect">
        <img async src="{{ 'simo-gabi-c.png' | asset_url }}" width="377px" height="476px" alt="Simo with Gabi the goat" />
      </div>
      <div class="main-left">
        <h1>Thank you for coming to find out more about Gabi the Goat :-)</h1>
        <div>
          <p>Most girls in rural Morocco have to stop school at age 12 and miss out on much needed education.</p>

          <p>With Gabi we want this to change, so we partnered with Education For All Morocco (EFAM) who help these girls to get the education they deserve.</p>

          <p>A percentage of each sale of Gabi the Goat goes to EFAM and gives a girl in Morocco 3 days of education and housing.</p>

          <p>The more people Gabi can reach, the more girls we can help get a better education.</p>

          <p>Please do what you can to spread the word…</p>

          <p>Much love,<br>
          Simo</p>

        </div>
      </div>
    </div>
  </section>
  <div class="hero-bottom">
    <i class="icon-caret-small-down"></i>
  </div>
  <!-- BEGIN HERO -->

  <!-- BEGIN STORY -->
  <section class="press-main" data-scrollspy-target>
    <div class="press-menu">
      <ul data-scrollspy-menu>
        <li><a href="#story" data-scrollspy-menu-item data-scrollspy-menu-default>The Story</a></li>
        <li><a href="#videos" data-scrollspy-menu-item>Videos</a></li>
        <li><a href="#photos" data-scrollspy-menu-item>Photos</a></li>
        <li><a href="#press-pack" data-scrollspy-menu-item>Press Pack</a></li>
      </ul>
    </div>
    <div class="press-content">
      <h2 id="story" data-scrollspy-item>The Story behind Gabi the Goat</h2>
      <div>
        <div class="side-by-side align-top responsive responsive-scale-img responsive-switch">
          <div class="left-side">
            <p><i>Imagine if you’d stopped education at age 12… how different would your life have been?</i></p>
            <p>Well in Morocco it’s a reality... in some areas girls aren’t able to attend school after the age of 12. This is due to a lack of money or the long, unsafe journeys to schools that are too far away.</p>
            <p>So instead of these girls following their dreams of a better future they end up with a life spent at home. A life of domestic chores, early marriage and having children.</p>
            <p>I was born and raised in Morocco before moving to the US and it made me sad to hear this is happening today. I was privileged to have a great education so I knew I needed to do what I could to help these girls get the education they deserve.</p>
          </div>
          <div class="right-side">
            <img async src="{{ 'story-4-c.png' | asset_url }}" width="260px" height="260px" alt="Little Simo"/>          
          </div>
        </div>
      </div>
      <div class="side-by-side align-top responsive responsive-scale-img">
        <div class="left-side">
          <img async src="{{ 'story-2-c.png' | asset_url }}" width="260px" height="260px" alt="A goat on a tree"/>
        </div>
        <div class="right-side">
          <p>I wanted to raise money to help these girls and at the same time do something fun to make more people aware of their situation.</p>
          <p>I thought about my life as a child... in the Argan Oil forests of Morocco near to where I grew up live some strange goats who like to climb trees.</p>
          <p>I loved goats and still do… their long silly tongues, weird rectangular eyes and crazy screams are super funny.</p>
          <p>So I set out to create a squawking rubber toy that represents this legendary animal. One that I could sell to raise money and help these girls get a better education...</p>
          <p>That’s when Gabi the Goat and Gabi the Goat was born.</p>
        </div>
      </div>
      <div class="side-by-side align-top responsive responsive-scale-img responsive-switch">
        <div class="left-side">
          <p>I had a way to raise money with Gabi the Goat so now all I needed was a way to use the money to help the girls get the education they deserve.</p>
          <p>This is where Education For All (EFA) Morocco comes in. EFA Morocco is a non-profit that builds and runs boarding houses for girls who want to continue their education.</p>
          <p>The boarding houses allow the girls to live closer to school and everything is provided to them for free so money is no longer an issue.</p>
          <p>With Gabi I’m now on a mission:<br/>To use the power of goats to provide girls in rural Morocco with a better education.</p>
          <p>Goat forth and spread the word!</p>
          <p>– Simo Elalj, Founder<br/><a href="mailto:simo@yougoatme.com">simo@yougoatme.com</a></p>
        </div>
        <div class="right-side">
          <img async src="{{ 'story-3-c.png' | asset_url }}" width="260px" height="260px" alt="Gabi the Goat with the girl and Gabi's founder" />
        </div>
      </div>

      <h2 id="videos">Gabi's videos</h2>
      <div>
        <p>Gabi uses the power of goat silliness to provide girls in rural Morocco better education.<br/>High resolution videos are available in the <a href="http://bit.ly/yougoatme-press-pack-2018" target="_blank">Press Pack</a>.</p>
        <div class="card-list">
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"><div class="play"><i class="icon icon-play-circle"></i></div></div>
              <img async src="{{ 'video-goatfather.jpg' | asset_url }}" alt="The Goatfather video" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>The Goatfather</strong>
              </div>
              <div class="card-action">
                <a href="https://www.facebook.com/GabiTheGoat/posts/1860832033985711" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"><div class="play"><i class="icon icon-play-circle"></i></div></div>
              <img async src="{{ 'video-goat.jpg' | asset_url }}" alt="GOAT: Goat On A Throne" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Goat On A Throne</strong>
              </div>
              <div class="card-action">
                <a href="https://www.facebook.com/GabiTheGoat/posts/1860349357367312" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"><div class="play"><i class="icon icon-play-circle"></i></div></div>
              <img async src="{{ 'video-goatrampoline.jpg' | asset_url }}" alt="Goatrampoline" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>The Goatrampoline</strong>
              </div>
              <div class="card-action">
                <a href="https://www.facebook.com/GabiTheGoat/posts/1860351110700470" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"><div class="btn-reach-out"><strong>Coming soon...</strong><br/>Please reach out for a premiere</div></div>
              <img async src="{{ 'video-barbie.jpg' | asset_url }}" alt="Teaser: barbie girl" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>I'm a Barbie Goat</strong>
              </div>
              <div class="card-action">
                <a href="/pages/contact" class="btn btn-sm"><i class="icon icon-email"></i> Reach out</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"><div class="btn-reach-out"><strong>Coming soon...</strong><br/>Please reach out for a premiere</div></div>
              <img async src="{{ 'video-rock.jpg' | asset_url }}" alt="Teaser: Goat save the queen" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Goat Save the Queen</strong>
              </div>
              <div class="card-action">
                <a href="/pages/contact" class="btn btn-sm"><i class="icon icon-email"></i> Reach out</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"><div class="btn-reach-out"><strong>Coming soon...</strong><br/>Please reach out for a premiere</div></div>
              <img async src="{{ 'video-mario.jpg' | asset_url }}" alt="Teaser: Super Gabi Bros" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Super Gabi Bros</strong>
              </div>
              <div class="card-action">
                <a href="/pages/contact" class="btn btn-sm"><i class="icon icon-email"></i> Reach out</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <h2 id="photos">Photos & Images</h2>
      <div>
        <p>Gabi has been travelling the world to spread the word about EFA Morocco.<br/>High resolution photos are available in the <a href="http://bit.ly/yougoatme-press-pack-2018" target="_blank">Press Pack</a>.</p>
        <div class="card-list">
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"></div>
              <img async src="{{ 'pic-gabi-asni-girls.jpg' | asset_url }}" alt="Gabi and the girls at the boarding house" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Asni 🇲🇦</strong>
                <p>At the boarding house</p>
              </div>
              <div class="card-action">
                <a href="https://www.instagram.com/p/Bo312QYjFD8/?taken-by=gabithegoatofficial" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"></div>
              <img async src="{{ 'pic-gabi-bacalar-mexico.jpg' | asset_url }}" alt="Gabi in Bacalar" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Bacalar 🇲🇽</strong>
                <p>7 Color Lagoon</p>
              </div>
              <div class="card-action">
                <a href="https://www.instagram.com/p/Bh7xoB4lNuM/?taken-by=gabithegoatofficial" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"></div>
              <img async src="{{ 'pic-gabi-santorini.jpg' | asset_url }}" alt="Gabi in santorini" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Santorini🇬🇷</strong>
                <p>Greek panorama</p>
              </div>
              <div class="card-action">
                <a href="https://www.instagram.com/p/BldMRXshui4/?taken-by=gabithegoatofficial" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"></div>
              <img async src="{{ 'pic-gabi-oktoberfest.jpg' | asset_url }}" alt="Gabi in oktoberfest" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Munich 🇩🇪</strong>
                <p>Oktoberfest</p>
              </div>
              <div class="card-action">
                <a href="https://www.instagram.com/p/BlcSnw3lVpk/?taken-by=gabithegoatofficial" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"></div>
              <img async src="{{ 'pic-gabi-goat-tree.jpg' | asset_url }}" alt="Gabi in a goat tree" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Essaouira 🇲🇦</strong>
                <p>Wild Goat tree</p>
              </div>
              <div class="card-action">
                <a href="https://www.instagram.com/gabithegoatofficial/" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"></div>
              <img async src="{{ 'pic-gabi-nyc-timesquare.jpg' | asset_url }}" alt="Gabi in timesquare" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>New York 🇺🇸</strong>
                <p>Time Square</p>
              </div>
              <div class="card-action">
                <a href="https://www.instagram.com/p/BkvsrYrh2GE/?taken-by=gabithegoatofficial" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"></div>
              <img async src="{{ 'pic-gabi-statue-brooklyn-museum.jpg' | asset_url }}" alt="Gabi in Brooklyn museum" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Brooklyn 🇺🇸</strong>
                <p>Goat something to tell me?</p>
              </div>
              <div class="card-action">
                <a href="https://www.instagram.com/p/BkxvSyoBUA6/?taken-by=gabithegoatofficial" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Share</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <div class="card-overlay"><div class="btn-reach-out"><strong>More on instagram...</strong></div></div>
              <img async src="{{ 'pic-ig.jpg' | asset_url }}" alt="More on instagram" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <strong>Much more on Instagram</strong>
                <p>@gabithegoatofficial</p>
              </div>
              <div class="card-action">
                <a href="https://www.instagram.com/gabithegoatofficial/" target="_blank" class="btn btn-sm"><i class="icon icon-share"></i> Open</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 id="press-pack">Press Pack</h2>
      <div>
        <p>We prepared for you a Google Drive folder with all what you'd need to help spread the word about Gabi the Goat.<br/>If you need anything else, please do not hesitate <a href="/pages/contact">to reach out</a>.</p>
        <a href="http://bit.ly/yougoatme-press-pack-2018" target="_blank" class="btn btn-sm">Download Press Pack now</a><br>

      </div>
    </div>
  </section>
  <!-- END FULL GOAT TOY -->

  <!-- BEGIN IMPACT -->
  <div class="collage-section">
    <div class="impact-section">
      <div class="impact-section-container">
        <h2>Gabi needs your help</h2>
        <p>To give these girls the education they deserve.<br />Please spread the word however you can!</p>
        <div class="btn-group">
          <a href="https://www.instagram.com/gabithegoatofficial" target="_blank" class="btn-share instagram"><i class="icon icon-instagram"></i> Instagram</a>
          <a href="https://www.facebook.com/GabiTheGoat" target="_blank" class="btn-share facebook"><i class="icon icon-facebook"></i> Facebook</a>
          <a href="https://www.twitter.com/GabiTheGoat" target="_blank" class="btn-share twitter"><i class="icon icon-twitter"></i> Twitter</a>
        </div>
        <p>or <a href="/pages/contact">reach out</a> for any question or inquiry</p>
      </div>
    </div>
  </div>

  <!-- END IMPACT -->